.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./image/bg.jpeg) no-repeat;
  background-size: cover;
  max-width: 700px;
  margin: 0 auto;
  padding: 250px 20px 0;
}
.getCode {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.phoneWrp {
  display: flex;
  justify-content: space-between;
  padding: 3px 8px;
  background: #ffffff;
  border-radius: 6px;
}
.phoneInput {
  flex: 60%;
  font-size: 14px;
  border: none;
  height: 26px;
  outline: none;
}
.phoneNumber {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
}
.codeBtn {
  padding: 3px 6px;
  background: #5ad3ff;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
}
.upBtn {
  height: 40px;
  background: #8b4398;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 15px;
  font-size: 14px;
}
.support {
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .App {
    padding: 400px 20px 0;
  }
}